.Catalogo--Drop--Container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    justify-content: end;
    margin: 3vh;
    padding-top: 1vh;
}

.Catalogo--Drop {
    margin-left: 5vh;
    margin-top: 5vh;
}