header {
    background-color: #131A22; }
    header #header--logoCuadrado {
      margin: 3vh; }
    @media (min-width: 992px) {
      header #header--banner {
        text-decoration: none;
        color: #EFD2CB;
        margin: 6vh;
        font-family: 'Cormorant Garamond', serif;
        font-size: 800%; } }
    @media (max-width: 991.9px) {
      header #header--banner {
        text-decoration: none;
        color: #EFD2CB;
        margin: 6vh;
        font-family: 'Cormorant Garamond', serif;
        font-size: 200%; } }
    header #menu {
      line-height: 3.3rem; }
      header #menu ul li a {
        text-transform: capitalize;
        text-decoration: none;
        color: #DDD;
        font-family: 'Roboto', sans-serif;
        font-weight: 900; }

.nav {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  list-style-type: none;
}

.logo-banner {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.menu__border {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  text-decoration: none;
  color: #DDD;
}

.menu__border:hover {
  text-decoration: none;
  color: white;
}

.active {
  background-color: #EAEDED;
  color: black;
}

.active:hover {
  text-decoration: none;
  color: black;
}